@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@theme {
  --font-bitcount: "Bitcount Single", system-ui;
  --font-roboto: "Roboto", sans-serif;
}
