@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
    font-family: 'Robotron';
    src: url('./../assets/fonts/robotronfontpica.woff') format('woff');
}

@theme {
  --font-bitcount: "Bitcount Single", system-ui;
  --font-roboto: "Roboto", sans-serif;
  --font-robotron: "Robotron", system-ui;
}
